*{
margin: 0;
padding: 0;
}
.menu-container{
    background-color: rgb(41, 36, 36);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.light-logo{
    width: 150px;
}
.menu{
    display: flex;
}
.item{
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
}
.item:hover{
    color: aqua;
    cursor: grab;
    font-size: 24px;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(61, 60, 60);
    padding: 90px;
}
.banner-section{
    color: white;  
}
.banner-section h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.banner-section p{
    font-size: 18px;
    margin-bottom: 15px;
}
.banner-image{
    width: 400px;
}
.banner-btn{
    background-color: orangered;
    color: aliceblue;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
}
/* about */
.about-head{
    text-align: center;
    font-size: 40px;
    font-weight:700 ;
    margin-top: 20px;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    padding: 60px 90px;  
}
.about-section h4{
    font-size: 30px;
    margin-bottom: 10px;
}
.about-section p{
    font-size: 18px;
}
.banner-btn{
    margin-top: 10px;
}
/* service */
.service-div{
    background-color: rgb(58, 56, 56);
  padding-bottom: 20px;
}
.service-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
    padding: 50px ;
}
.service-article{
    background-color: rgb(58, 56, 56);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.digital-art{
    width: 230px;
    height: 320px;
    box-shadow:4px 4px 15px gray ;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
}
.icon{
    width: 70px;
}
.digital-art p{
    margin-top: 10px;
    line-height: 30px;
}
.digital-art h3, img{
    margin-top: 10px;
}
.btn-details{
    background-color: grey;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}